.window {
    grid-area: win;
    /* border-top: 1px solid red; */
    background: pink;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* width: 100%; */
}